@model OnlineShoppingStore.Models.Order

@{
    ViewData["Title"] = "Delete";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-fw fa-shopping-bag"></i>
            Order
        </div>
        <div class="card-body">
            <div class="row px-md-5 border p-1">
                <div class="col-lg-6">
                    <div class="form-group">
                        Customer Name: @Model.FullName
                    </div>
                    <div class="form-group">
                        Phone: @Model.PhoneNumber
                    </div>
                    <div class="form-group">
                        Email: @Model.Email
                    </div>
                    <div class="form-group">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        Order At: @Model.OrderedAt
                    </div>
                    <div class="form-group">
                        Adress: @Model.Address
                    </div>
                    <div class="form-group">

                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <h5 class="text-center text-info m-auto p-1 font-weight-bold">List Of Products</h5>
                <table class="table table-bordered table-responsive-sm table-sm" width="100">
                    <thead>
                        <tr>
                            <th>
                                Products
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Total Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PricePerQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row p-2 d-flex flex-row align-items-center justify-content-between">
                <span class="font-weight-bold text-info">
                    Total:  @Model.TotalPrice
                </span>
            </div>
        </div>
        <form asp-action="Delete" class="p-1">
            <input type="hidden" asp-for="OrderId" />
            <a onclick="window.history.back();" class="btn btn-primary">Cancel</a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>