@model OnlineShoppingStore.Models.Order
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <span class="h4 font-weight-bold"> Order</span>
            <a onclick="window.history.back();" class="btn btn-primary">Back</a>
        </div>
        <div class="card-body">
            <div class="row px-md-5 border p-1">
                <div class="col-lg-6">
                    <div class="form-group">
                        Order No #@Model.OrderId
                    </div>
                    <div class="form-group">
                        Customer Name: @Model.FullName
                    </div>
                    <div class="form-group">
                        Phone: @Model.PhoneNumber
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            Status: @Model.Status
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            Payment: @Model.Payment.Type
                            @if (@Model.Payment.Type == PaymentType.BKash)
                            {
                                <input type="button" class="btn-link" value="Instruction" id="bkash" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        Order At: @Model.OrderedAt
                    </div>
                    <div class="form-group">
                        Email: @Model.Email
                    </div>
                    <div class="form-group">
                        Adress: @Model.Address
                    </div>
                    <div class="form-group">
                        Completed At: @Model.CompletedAt
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <h5 class="text-center text-info m-auto p-1 font-weight-bold">List Of Products</h5>
                <table class="table table-bordered table-responsive-sm table-sm" width="100">
                    <thead>
                        <tr>
                            <th>
                                Products
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Total Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PricePerQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row p-2 d-flex flex-row align-items-center justify-content-between">
                <span class="font-weight-bold text-info">
                    Total:  @Model.TotalPrice
                </span>
                <span class="font-weight-bold text-info">
                    Shipping Charge:  @Model.ShippingCharge
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="instruction">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">How To Pay</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <ol>
                    <li>Press *247#</li>
                    <li>Then Reply 3 For Payment</li>
                    <li>Merchant AC: 01969124997</li>
                    <li>Amount: [Your Billing Amount]</li>
                    <li>Reference: Order No</li>
                    <li>Counter: 1</li>
                </ol>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#bkash").click(function () {
                $("#instruction").modal('show');
            })
        });
    </script>
}